{% extends "base.html" %}
{% block page_title %}About{% endblock %}

{% block content %}

  <section class="container about-section">
    <div class="metal-bg container">
      <h2 class="brand-text-header-white">About</h2>
    </div>
    <article class="row bottom-buffer">
      <div class="col-sm-8">
        <h3 class="brand-text-black">What makes us <span class="brand-text-red-light-bg" style="font-size: 40px;">HERCULEAN</span>?</h3>
        <p class="top-buffer bold-text">The name, obviously.</p>
        <p class="bold-text">
          ...other than that, though, it's our passion for all things fitness that we believe gives us the edge over our
          competition. It's not just the spirit of the company that bleeds a love of fitness, it's also within our staff.
          No, seriously. Every blog post you see on this site is written by someone whose passion for athleticism and
          self-improvement is limitless - it's actually a prerequisite to work for us.
        </p>
      </div>
    </article>
    <article class="row metal-bg bottom-buffer">
      <div class="col-sm-8">
        <h3 class="brand-text-white">Aren't you just another supplement store?</h3>
        <div class="about-layover">
          <p class="top-buffer">
            Ouch. That one was right in the feels. The truth is that, no, we're actually
            not. What you see on this site is the commercial side of <span class="brand-text-red" style="font-size: 16px">HERCULEAN</span>,
            which includes our products and the news items we post for the community. However, we also work with a lot of gyms
            worldwide, providing personal trainers and industry experts, to reach out and garner a greater interest in fitness
            and gym culture mentality.
          </p>
          <p>
            Our work has led to sponsorships at some of the best bodybuilding tournaments in the world, as well as the personal
            sponsorship of some of the talented folks who provide the face of the fitness industry today. Our mantra has always
            been about making you the best version of yourself you can be, and that goes above and beyond just a simple
            supplement store.
          </p>
        </div>
      </div>
    </article>
    <article class="row bottom-buffer">
      <div class="col-sm-8">
        <h3 class="brand-text-black">What are our goals for the future?</h3>
        <p class="top-buffer bold-text">
          The most dreaded interview question of all time. For us, though, it's a doozie because we have big plans ahead
          and we just love to talk about them. Primarily, we'd like to expand the commercial side of the business to achieve
          a greater global reach. We believe we have the quality of products to back that ambition up, as many of our regular
          customers have attested over the last few years. Aside from that, we have plans to open a physical store in the heart
          of London, with the hope of expanding to other major cities around the world. A lot of people talk about the death
          of the high street these days, but we know the value in the unique and unbeatable experience of actually holding
          what you're interested in purchasing in your own hands.
        </p>
        <p class="bold-text">
          Aside from the commercial aspect, <span class="brand-text-red-light-bg" style="font-size: 16px;">HERCULEAN</span> has
          the ability to help shape the future of the fitness world for years to come. We don't want to stop at just a gym
          presence. We believe, especially in the current climate, that we have an obligation to do what we can to help turn the
          tide of obesity and unhealthiness in the world. To this end, we'd like to start a presence in schools in the new few
          years, to teach the adults of tomorrow the importance of taking care of yourself and that it isn't as difficult to
          do so as they are probably led to believe.
        </p>
        <p class="bold-text">
          Culture is shaped by fashion. It's about time we made healthy living fashionable again.
        </p>
      </div>
    </article>
  </section>

{% endblock %}