{% extends "base.html" %}
{% block page_title %}Password Reset{% endblock %}
{% block content %}

  <section class="container flex-background">
    <div class="col-md-9">
      <h1 class="brand-text-header-black">Reset Your Password</h1>

      <form method="POST" class="top-buffer">
        <p>Please provide your email address so we can send you the link to reset your password.</p>
        <br>
        <div style="display:none">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div>
         {{ form.email.errors }}
        <p>
          <label for="id_email" class="control-label required-field">E-mail address:</label>
          {{ form.email }} <input type="submit" value="Reset password" class="btn btn-sm btn-info" />
        </p>
      </form>
    </div>
  </section>

{% endblock %}