{% extends "base.html" %}

{% block content %}
  <div class="base-bg">
    <div class="container">
      <div class="row">
        <section class="col-md-3">
          <p class="brand-text-red" style="font-size: 24px;">Product Range</p>
          <div class="list-group" id="product-nav">
            <a href="#" class="list-group-item brand-text-black-no-shadow">Protein</a>
            <a href="#" class="list-group-item brand-text-black-no-shadow">Creatine</a>
            <a href="#" class="list-group-item brand-text-black-no-shadow">Amino Acids</a>
            <a href="#" class="list-group-item brand-text-black-no-shadow">Vitamins & Supplements</a>
            <a href="#" class="list-group-item brand-text-black-no-shadow">Accessories</a>
            <a href="#" class="list-group-item brand-text-black-no-shadow">Equipment</a>
          </div>
        </section>
        <div class="col-md-9">
          {% block product_content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}