{% extends "products_base.html" %}
{% block page_title %}{{ product.name }}{% endblock %}

{% block product_content %}

  <section>
    <div class="row">
      <div class="thumbnail col-md-12">
        <div id="item-description">
          <img class="img-responsive" src="/media/{{ product.image.image }}" alt="Product Image">
          <div class="caption-full">
            <h2>{{ product.name }}</h2>
            <h4>£{{ product.price }}</h4>
            <p>{{ product.description }}</p>
          </div>
          <div class="ratings">
            <p>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
              <span class="mina-text" style="color: black;">4.0 stars</span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default row">
      <div class="panel-heading">
        <h4>Product Reviews</h4>
      </div>

      {% block review_content %}

      {% endblock %}

      <div>
        <a href="{% url 'add-review' product.id %}" class="btn btn-info">Leave a Review</a>
      </div>
    </div>
  </section>

{% endblock %}