{% extends "products_base.html" %}
{% load staticfiles %}
{% block page_title %}Product Range{% endblock %}

{% block product_content %}
  <section class="row carousel-holder between-phone-tab-hidden">
    <div class="col-md-12">
      <div id="popular-product-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#popular-product-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#popular-product-carousel" data-slide-to="1"></li>
          <li data-target="#popular-product-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <img class="slide-image" src="{% static 'img/products/product_range.png' %}" alt="">
          </div>
          <div class="item">
            <img class="slide-image" src="{% static 'img/products/dumbbell_rack.jpg' %}" alt="">
          </div>
          <div class="item">
            <img class="slide-image" src="{% static 'img/products/accessories.jpg' %}" alt="">
          </div>
        </div>
        <a class="left carousel-control" href="#popular-product-carousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#popular-product-carousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  </section>

  <section class="row">
  {% for product in products %}
    <article class="col-sm-6 col-md-4">
      <div class="thumbnail product-thumbnail">
        <img src="/media/{{ product.image.image }}" alt="Product Image">
        <div class="caption">
          <h4><a href="{% url 'product-item' product.id %}">{{ product.name }}</a></h4>
          <h4>£{{ product.price }}</h4>
          <p>{{ product.description | truncatewords:15 }}</p>
        </div>
        <div class="ratings panel-footer">
          <p>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
          </p>
        </div>
      </div>
    </article>
  {% endfor %}
  </section>

  <div class="text-center">
    <div class="pagination products-pagination-div">
      <span class="step-links mina-text pagination-text">
        {% if products.has_previous %}
          <a href="?page=1&q={{ request.GET.q }}" class="custom-anchor">&laquo; first</a>
          <span>|</span>
          <a href="?page={{ products.previous_page_number }}&q={{ request.GET.q }}" class="custom-anchor">previous</a>
        {% endif %}

        <span class="current">
          Page {{ products.number }} of {{ products.paginator.num_pages }}.
        </span>

        {% if products.has_next %}
          <a href="?page={{ products.next_page_number }}&q={{ request.GET.q }}" class="custom-anchor">next</a>
          <span>|</span>
          <a href="?page={{ products.paginator.num_pages }}&q={{ request.GET.q }}" class="custom-anchor">last &raquo;</a>
        {% endif %}
      </span>
    </div>
  </div>
{% endblock %}