{% extends "products_base.html" %}
{% block page_title %}{{ product.name }}{% endblock %}

{% block product_content %}

  <section class="row">
    <div class="thumbnail col-md-12">
      <div id="item-description">
        <img class="img-responsive" src="/media/{{ product.image.image }}" alt="Product Image">
        <div class="caption-full">
          <h2>{{ product.name }}</h2>
          <h4>£{{ product.price }}</h4>
          <form method="post" action="{% url 'add-to-cart' product.id %}">
            {% csrf_token %}
            <div class="input-group">
              <input name='quantity' type="hidden" value="1">
              <span class="input-group-btn">
                <button class="btn btn-info" type="submit"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add to cart</button>
              </span>
            </div>
          </form>
          <p class="top-buffer">{{ product.description }}</p>
        </div>
        <div class="ratings">
          <p>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="mina-text" style="color: black;">4.0 stars</span>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="white-bg review-section row">
    <div class="col-md-12">
      <h3>Product Reviews</h3>
      <hr>

      {% block review_content %}
      {% endblock %}

      {% if user.is_authenticated %}
        <div class="top-buffer">
          <a href="{% url 'add-review' product.pk %}" class="btn btn-info">Leave a Review</a>
        </div>
      {% endif %}
    </div>
  </section>

{% endblock %}