@font-face {
    font-family: life_is_okayregular;
    src: url("fonts/LifeIsOkay.eot"); /* IE9 */
    src: url("fonts/LifeIsOkay.eot?#iefix") format("embedded-opentype"), /* IE6-8 */
         url("fonts/Life Is Okay.otf") format("opentype"),
         url("fonts/life_is_okay-webfont.ttf") format("truetype"),
         url("fonts/life_is_okay-webfont.woff") format("woff"),
         url("fonts/life_is_okay-webfont.woff2") format("woff2");
}

/* General styles */

html,
body {
    height: 100%;
}

body {
    padding-top: 50px; /* Required padding for navbar-fixed-top */
    overflow-x: hidden;
}

a, a:hover, a:focus {
    text-decoration: none;
}

ul, li {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: life_is_okayregular, "Arial Black", sans-serif;
}

p {
    font-family: 'Mina', sans-serif;
}

button a, button a:hover, button a:focus {
    color: white;
}

.mina-text {
    font-family: 'Mina', sans-serif;
}

.custom-anchor,
.custom-anchor:focus {
    color: black;
}

.custom-anchor:hover {
    color: red;
}

.mandatory-text {
    color: red;
    margin: 17px 0;
}

.top-buffer {
    margin-top: 40px;
}

.button-spacing {
    margin: 40px 0;
}

.mobile-hidden,
.between-phone-tab-hidden,
.tablet-hidden,
.smallcomp-hidden {
    display: none;
}

/* Base Page */

.nav a {
    font-family: life_is_okayregular, "Arial Black", sans-serif;
    font-size: 16px;
}

.nav a:hover, .nav a:focus {
    color: red !important;
}

.brand-text-nav {
    font-family: life_is_okayregular, "Arial Black", sans-serif;
    font-size: 24px;
    color: red !important;
    text-shadow: 3px 4px 2px black;
    text-transform: uppercase;
}

.dropdown-menu, .dropdown-menu a {
    background-color: #222222;
    color: #9d9d9d !important;
}

footer {
    background-color: #222;
    padding-top: 30px;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer a {
    font-family: 'Mina', sans-serif;
    color: #9d9d9d;
}

footer a:hover {
    color: red;
}

footer hr {
    border-color: #9d9d9d;
}

footer p {
    color: #9d9d9d;
}

/* Index (Home) Page Carousel */

header.carousel {
    height: 60%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* Index (Home) Page */

.index-section {
    padding-bottom: 20px;
}

.brand-header {
    padding: 30px;
}

.brand-text-header-white,
.brand-text-header-red,
.brand-text-header-black {
    font-family: life_is_okayregular, "Arial Black", sans-serif;
    font-size: 60px;
    text-transform: uppercase;
}

.brand-text-header-white {
    color: white;
    text-shadow: 5px 7px 4px black;
}

.brand-text-header-red {
    color: red;
    text-shadow: 5px 7px 4px black;
}

.brand-text-header-black {
    color: black;
    text-shadow: 4px 6px 4px gray;
}

.brand-text-white,
.brand-text-red {
    font-family: life_is_okayregular, "Arial Black", sans-serif;
    font-size: 20px;
    text-shadow: 3px 5px 4px black;
}

.brand-text-white {
    color: white;
}

.brand-text-red {
    color: red;
}

.brand-text-black {
    font-family: life_is_okayregular, "Arial Black", sans-serif;
    font-size: 20px;
    color: black;
    text-shadow: 2px 3px 4px gray;
}

.brand-text-red-light-bg {
    font-family: life_is_okayregular, "Arial Black", sans-serif;
    font-size: 20px;
    color: red;
    text-shadow: 2px 3px 4px gray;
}

.section-bg {
    background: url("../img/home/under-background.jpg");
    background-size: cover;
}

.panel-heading h3 {
    font-family: life_is_okayregular, "Arial Black", sans-serif;
}

.img-portfolio {
    margin-bottom: 5px;
}

.img-hover:hover {
    opacity: 0.8;
}

.featured-caption {
    font-weight: bold;
}

.brand-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.brand-list li {
    padding: 10px 0 10px 16px;
}

.brand-list li::before {
    content: "-";
    padding-right: 8px;
    color: red;
    text-shadow: 3px 5px 4px black;
}

.well {
    margin-top: 40px;
    margin-bottom: 50px;
}

.footer-text {
    font-family: 'Mina', sans-serif;
    font-size: 20px;
}

/* Accounts Pages (register, login, logout, profile etc) */

.accounts-section {
    margin-top: 50px;
}

.profile-section {
    height: 100%;
}

.page-wrap {
    min-height: 100%;
}

.sub-menu {
    background: url("../img/home/under-background.jpg");
    background-size: cover;
    text-align: center;
    padding: 20px 0;

}

.sub-menu a {
    display: inline;
    font-family: life_is_okayregular, "Arial Black", sans-serif;
    font-size: 17px;
    color: white;
    text-shadow: 4px 7px 4px black;
    margin: 15px;
}

.sub-menu a:hover,
.sub-menu a:focus {
    color: red;
}

.brand-text-profile-header {
    color: black;
    text-shadow: 2px 3px 4px gray;
}

.profile-picture {
    height: auto;
    width: 200px;
    margin-bottom: 30px;
}

.pagination {

}

/* News Pages */

#news-page-add-button {
    margin-bottom: 30px;
}

.news-section {
    min-height: 100%;
    position: relative;
}

.bottom-news-buffer {
    margin-bottom: 15px;
}

.news-image {
    height: 220px;
    width: 220px;
    padding: 0;
    border-right: 5px solid red;
}

.news-aside-image {
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 60px;
}

.news-figure {
    padding: 0;
}

.news-profile-image {
    height: 30px;
    width: 30px;
}

.news-anchor {
    color: #333;
}

.news-anchor:hover {
    color: black;
}

.tag-headline {
    color: red;
    margin-top: 10px;
}

.post-headline {
    margin: 0;
    padding: 0 0 10px 0;
}

.article-background {
    margin-bottom: 30px;
    background-color: #e9ebee;
}

.post-header {
    position: relative;
    margin-top: 50px;
}

.post-header-image {
    width: 100%;
    height: auto;
    border: 10px double red;
}

.post-header-title {
    background-color: rgba(0,0,0,0.8);
    color: white;
    padding: 30px;
}

.post-body {
    padding-top: 40px;
    margin-bottom: 150px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.6;
    background-color: white;
    border-radius: 0 0 20px 20px;
}

.post-body > p {
    padding: 20px 30px;
}

.disqus-comments {
    padding: 0 20px;
}

#back-button {
    padding-left: 15px;
}

#edit-button {
    margin-left: 15px;
    margin-right: 15px;
}

.post-section-background {
    background-image: url("../img/home/under-background.jpg");
    background-size: cover;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Responsive Styles */

/* Min width */

@media(min-width:380px) {
    /* Phones from iPhone S5 upwards taken into account. For standard phone sizes
     (not incl Galaxy Note type phones), the size tends to max out at 375px. Added 5px for good measure.*/
    .mobile-hidden {
        display: initial;
    }
}

@media(min-width:540px) {
    .between-phone-tab-hidden {
        display: initial;
    }

    .post-header-title {
        position: absolute;
        bottom: 50px;
        left: 40px;
        z-index: 1;
        background-color: rgba(0,0,0,0.8);
        color: white;
        padding: 30px;
        margin-right: 40px; /* Necessary to keep an edge space for long titles */
    }
}

@media(min-width:768px) {
    .index-section, .accounts-section {
        margin-bottom: 80px;
    }

    .tablet-hidden {
        display: initial;
    }

    .profile-picture {
        margin-bottom: 0;
    }

    .tag-headline {
        margin-top: 20px;
    }

    .post-body {
        font-size: 18px;
    }
}

@media(min-width:840px) {
    .brand-header,
    .brand-text-header-red {
        font-size: 80px;
        text-align: center;
    }
}

@media(min-width: 992px) {
    .nav a {
        font-size: 18px;
    }

    .page-wrap {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .sub-menu {
        padding-top: 50px;
        width: 25%;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-box-ordinal-group: 1;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
    }

    .sub-menu a {
        display: block;
        text-align: left;
        font-size: 23px;
        margin-bottom: 10px;
        margin-right: 0;
    }

    .main-profile-area {
    width: 75%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    }
}

@media(min-width:1200px) {
    .bottom-news-buffer {
        margin-bottom: 0;
    }

    .smallcomp-hidden {
        display: initial;
    }
}

/* Max width */

@media(min-width: 540px) and (max-width:639px) {
    .post-header-title {
        position: absolute;
        bottom: 20px;
        left: 40px;
        z-index: 1;
        background-color: rgba(0,0,0,0.8);
        color: white;
        padding: 0 30px 30px 30px; /* Alteration to padding prevents maximum length titles overflowing on Y axis */
        margin-right: 40px; /* Necessary to keep an edge space for long titles */
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 5px;
    }

    header.carousel .carousel {
        height: 60%;
    }
}

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}