{% extends "base.html" %}
{% load bootstrap_tags %}
{% block page_title %}Checkout{% endblock %}

{% block content %}

  <section class="metal-bg cart-background">
    <div class="container cart-section">

      <h3 style="font-size: 30px;" class="text-center">Checkout</h3>
      <hr>

      <div class="row bottom-buffer">
        <h4 class="col-md-offset-4 col-md-2">Number of items: {{ product_count }}</h4>
        <h4 class="col-md-2">Total to pay: £{{ total }}</h4>
      </div>

      <form method="POST" id="checkout-form">
        <div class="row">
          {% csrf_token %}
          <fieldset class="form-group col-md-offset-1 col-md-4">
            <legend>Delivery Address</legend>
            {{ order_form | as_bootstrap }}
          </fieldset>
          <fieldset class="form-group col-md-offset-2 col-md-4">
            <legend>Payment Information</legend>
            {{ payment_form | as_bootstrap }}
          </fieldset>
        </div>
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
            <button type="submit" class="btn btn-block btn-lg btn-info">Place Order</button>
          </div>
        </div>
      </form>

    </div>
  </section>

{% endblock %}