{% extends "profile_base.html" %}
{% block page_title %}Delivery Address{% endblock %}
{% block profile_content %}
  <section class="col-md-9">
    <h1 class="brand-text-profile-header">{{ user.username }}'s Delivery Address</h1>
    <div class="top-buffer">
      <h4>Here you can see your current set delivery address. If you wish to change these details, just click the 'Edit'
        button at the bottom!</h4>
      <p class="top-buffer">
        <strong>If your country of residence isn't listed, we aren't able to deliver there directly. We apologise for the inconvenience,
          but if the <span class="brand-text-red-light-bg" style="font-size: initial;">HERCULEAN</span> range is just too good to turn down, a forwarding service might be the answer. We recommend
        <a href="http://www.borderlinx.com" class="default-anchor" target="_blank">Borderlinx</a>, who deliver to 60+ countries.</strong>
      </p>
      <article class="article-background delivery-address top-buffer">
        <a href="{% url 'delete-address' address.pk %}" class="default-anchor"><i class="fa fa-trash fa-2x pull-right" aria-hidden="true"></i></a>
        <p><strong>House number/name: </strong>{{ user.address.house_number }}</p>
        <p><strong>Street: </strong>{{ user.address.address1 }}</p>
        <p><strong>Address Line 2: </strong>{{ user.address.address2 }}</p>
        <p><strong>City/Town: </strong>{{ user.address.city }}</p>
        <p><strong>County/State/Province: </strong>{{ user.address.county }}</p>
        <p><strong>Post/Zip Code: </strong>{{ user.address.post_code }}</p>
        <p><strong>Country: </strong>{{ user.address.get_country_display }}</p>
      </article>
      <a href="{% url 'edit-address' %}" class="button-spacing btn btn-lg btn-info">Edit</a>
    </div>
  </section>
{% endblock %}