{% extends "profile.html" %}
{% load bootstrap_tags %}
{% block page_title %}Edit Address{% endblock %}
{% block profile_content %}
  <article class="col-md-9">
    <form method="POST" action="{% url 'edit-address' %}">
      <fieldset class="form-group">
        <legend class="brand-text-header-black">Edit your address</legend>
        <p class="mandatory-text">Fields marked * are mandatory.</p>
        {% csrf_token %}
        {{ address_form | as_bootstrap }}
        <br>
        <button type="submit" class="btn btn-info">Save</button>
      </fieldset>
    </form>
  </article>
{% endblock %}