{% extends "profile_base.html" %}
{% load bootstrap_tags %}
{% block page_title %}Edit Profile{% endblock %}
{% block profile_content %}
  <article class="col-md-9">
    <form method="POST" enctype="multipart/form-data" action="{% url 'edit-profile' %}">
      <fieldset class="form-group">
        <legend class="brand-text-header-black">Edit your profile</legend>
        {% csrf_token %}
        {{ user_form | as_bootstrap }}
        {{ profile_form | as_bootstrap }}
        <br>
        <button type="submit" class="btn btn-lg btn-info bottom-buffer">Save</button>
      </fieldset>
    </form>
  </article>
{% endblock %}