{% extends "base.html" %}
{% block content %}
  <section class="page-wrap">
    <div class="col-md-3 sub-menu">
      {% with request.resolver_match.url_name as url_name %}
        <a href="{% url 'profile' %}" class="{% if url_name == 'profile' %}profile-active-link{% endif %}">View Profile</a>
        <a href="{% url 'edit-profile' %}" class="{% if url_name == 'edit-profile' %}profile-active-link{% endif %}">Edit Profile</a>
        {% if user.is_staff %}
          <a href="{% url 'add-post' %}" class="{% if url_name == 'add-post' %}profile-active-link{% endif %}">Make a Post</a>
          <a href="{% url 'posts-list' %}" class="{% if url_name == 'posts-list' %}profile-active-link{% endif %}">Your List of Posts</a>
        {% endif %}
        {% if user.is_superuser %}
          <a href="{% url 'promocodes-list' %}" class="{% if url_name == 'promocodes-list' %}profile-active-link{% endif %}">Current Discount Codes</a>
        {% endif %}
        {% if not user.is_staff %}
          <a href="{% url 'order-history' %}">Order History</a>
          <a href="#">Payment Details</a>
          <a href="{% url 'promocodes-list' %}" class="{% if url_name == 'promocodes-list' %}profile-active-link{% endif %}">Discounts</a>
        {% endif %}
      {% endwith %}
    </div>
    <div class="main-profile-area">
      {% if messages %}
        <div class="container alert alert-info">
          <div class="messages">
            {% for message in messages %}
              {{ message }}
            {% endfor %}
          </div>
        </div>
      {% endif %}
      {% block profile_content %}
      {% endblock %}
    </div>
  </section>
{% endblock %}