{% extends "profile_base.html" %}
{% block page_title %}Current Discount Codes{% endblock %}

{% block profile_content %}
  <section class="col-md-12">
    <h1 class="brand-text-profile-header">Current Active Codes</h1>
    {% if not user.is_superuser %}
      <br>
      <p><strong>See below for all the current discount codes available.
      The code is in <span style="color: red;"><strong>red</strong></span> and the
        dates show the availability, so be sure not to miss out!</strong></p>
      <br>
      <p><strong>What's more - the codes can be used an unlimited number of times!</strong></p>
      <br>
      <p class="text-muted">Note: Codes can only be redeemed by account holder at checkout. Only
      one code may be used per transaction.</p>
    {% endif %}
    <div class="top-buffer">
      {% if codes %}
        {% for code in codes %}
          <div class="row">
            <article class="col-xs-9 col-sm-5 article-background discount-item">
              <h3>{{ code.name }}
                <h4 style="color: red;">{{ code.code }}</h4>
              </h3>
              <h4>{{ code.start_date }} <span class="mina-text">to</span> {{ code.expiry_date }}</h4>
            </article>
          </div>
        {% endfor %}

        <div class="text-center">
          <div class="pagination">
            <span class="step-links mina-text pagination-text">
              {% if codes.has_previous %}
                <a href="?page=1" class="custom-anchor">&laquo; first</a>
                <span>|</span>
                <a href="?page={{ codes.previous_page_number }}" class="custom-anchor">previous</a>
              {% endif %}

              <span class="current">
                Page {{ codes.number }} of {{ codes.paginator.num_pages }}.
              </span>

              {% if codes.has_next %}
                <a href="?page={{ codes.next_page_number }}" class="custom-anchor">next</a>
                <span>|</span>
                <a href="?page={{ codes.paginator.num_pages }}" class="custom-anchor">last &raquo;</a>
              {% endif %}
            </span>
          </div>
        </div>
      {% else %}
        <p>There are no codes to show.</p>
      {% endif %}
    </div>
  </section>
{% endblock %}