{% extends "base.html" %}
{% block page_title %}Cart{% endblock %}
{% load staticfiles %}

{% block content %}

  <section class="metal-bg cart-background">
    <div class="container cart-section">

      <h3>Your Cart</h3>
      <hr>

      <div class="row bottom-buffer">
        <h4 class="col-xs-4">Product</h4>
        <h4 class="col-xs-4">Quantity</h4>
        <h4 class="col-xs-4">Price</h4>
      </div>

      {% for item in cart_items %}
        <div class="row">
          <div class="col-xs-2" id="cart-image"><img src="/media/{{ item.product.image.image }}" class="cart-image img-responsive" /></div>
          <div class="col-xs-2"><p style="font-size: 16px;"><strong>{{ item.product.name }}</strong></p></div>
          <form method="POST" action="{% url 'adjust-cart' item.product.id %}" class="col-xs-4" id="quantity-form">
            {% csrf_token %}
            <div class="form-group">
              <div class="input-group">
                <input name="quantity" type="number" min="0" max="999" value="{{ item.quantity }}" class="form-control cart-quantity">
                <button type="submit" class="btn btn-info cart-buttons"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                <a href="{% url 'remove-from-cart' item.product.id %}" class="btn btn-danger cart-buttons"><i class="fa fa-trash" aria-hidden="true"></i></a>
              </div>
            </div>
          </form>
          <div class="col-xs-4" style="font-size: 16px;">£{{ item.item_total }}</div>
        </div>
        <hr>
      {% endfor %}

      <div class="row top-buffer">
        <div class="col-xs-12 col-sm-5 col-md-4">
          <form method="POST" class="promo-code">
            {% csrf_token %}
            <h3 class="promo-header">Have A Promo Code?</h3>
            <input name="discount" type="text" class="promo-input" placeholder="Enter Code" />
            <button type="submit" class="btn btn-info btn-circle"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
            {% for message in messages %}
              <p style="color: red;">{{ message }}</p>
            {% endfor %}
          </form>
        </div>
        <div id="cart-total" class="col-sm-offset-3 col-sm-4 col-md-offset-5 col-md-3">
          <p id="subtotal">Subtotal: £{{ subtotal }}</p>
          {% if discount %}
            <p style="color: red;">Discount: -£{{ discount }}</p>
          {% endif %}
          <p id="shipping">Shipping: £{{ shipping }}</p>
          <p id="total"><strong>Total: £{{ total }}</strong></p>
        </div>
      </div>
      <a href="#" class="btn btn-info btn-sm pull-right">To checkout <i class="fa fa-arrow-right" aria-hidden="true"></i></a>

    </div>
  </section>

{% endblock %}