{% extends "base.html" %}
{% load gravatar %}
{% block page_title %}{{ review.title }}{% endblock %}

{% block content %}

  <section class="metal-bg">
    <article class="container">
      <div class="col-md-offset-2 col-md-8">
        <div class="review-header-title">
          <h1>{{ review.title }}</h1>
          {% if review.author.profile.profile_pic %}
            <img src="/media/{{ review.author.profile.profile_pic }}" class="news-profile-image img-circle">
          {% else %}
            <img src="{% gravatar_url review.author.email %}" class="news-profile-image img-circle">
          {% endif %}
          <span class="mina-text">Posted by {{ review.author.username }} | {{ review.created_date }}</span>
        </div>
        <div class="post-body">
          <a href="{{request.META.HTTP_REFERER}}" class="btn btn-info custom-anchor-white review-back-button"><i class="fa fa-caret-left" aria-hidden="true"></i> Back to Reviews</a>
          {% if review.rating == 1 %}
            <p><i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i> Recommended</p>
          {% else %}
            <p><i class="fa fa-thumbs-down fa-2x" aria-hidden="true"></i> Not Recommended</p>
          {% endif %}
          <div class="review-body">{{ review.content | linebreaks }}</div>
        </div>
      </div>
    </article>
  </section>

{% endblock %}