{% extends "base.html" %}
{% load bootstrap_tags %}
{% block page_title %}Edit a Post{% endblock %}
{% block content %}
  <article class="container top-buffer">
    <form method="POST" enctype="multipart/form-data">
      <fieldset class="form-group">
        <legend class="brand-text-header-black">Edit the Post</legend>
        <p>(Remember to keep an image!)</p>
        {% csrf_token %}
        {{ post_form | as_bootstrap }}
        <br>
        <button type="submit" class="btn btn-info bottom-buffer">Save</button>
      </fieldset>
    </form>
  </article>
{% endblock %}