{% extends "base.html" %}
{% load static from staticfiles %}
{% load gravatar %}
{% block page_title %}Fitness News{% endblock %}

{% block content %}
  <section class="container top-buffer news-section">
    {% if messages %}
      <div class="row">
        <div class="col-md-9 alert alert-success">
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        </div>
      </div>
    {% endif %}
    {% if user.is_staff %}
      <div id="news-page-add-button">
        <a href="{% url 'add-post' %}" class="btn btn-info btn-lg"><i class="fa fa-plus" aria-hidden="true"></i> Add a Post</a>
      </div>
    {% endif %}
    {% for post in posts %}
      <article class="col-md-9 col-lg-9 article-background">
        <div class="row">
          {% if post.image %}
            <figure class="col-xs-0 col-sm-3 news-figure">
              <img src="/media/{{ post.image }}" class="news-image img-responsive tablet-hidden">
            </figure>
          {% endif %}
          <div class="col-xs-12 col-sm-9">
            <h5 class="tag-headline">{{ post.tag }}
              <h2 class="post-headline"><a href="{% url 'post-content' post.slug %}" class="news-anchor">{{ post.title }}</a></h2>
            </h5>
            <p>{{ post.content | truncatewords:25 }}</p>
            <div class="bottom-news-buffer">
              {% if post.author.profile.profile_pic %}
                <img src="/media/{{ post.author.profile.profile_pic }}" class="news-profile-image img-circle">
              {% else %}
                <img src="{% gravatar_url post.author.email %}" class="news-profile-image img-circle">
              {% endif %}
              <span class="mina-text">BY <a href="{% url 'profiles' post.author.pk %}" class="news-author-anchor">{{ post.author.first_name }}</a> | {{ post.published_date }}</span>
            </div>
          </div>
        </div>
      </article>
    {% endfor %}

    <div class="text-center">
      <div class="container">
        <div class="pagination col-xs-12">
          <span class="step-links pagination-text mina-text">
            {% if posts.has_previous %}
              <a href="?page=1" class="custom-anchor">&laquo; first</a>
              <span>|</span>
              <a href="?page={{ posts.previous_page_number }}" class="custom-anchor">previous</a>
            {% endif %}

            <span class="current">
              Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span>

            {% if posts.has_next %}
              <a href="?page={{ posts.next_page_number }}" class="custom-anchor">next</a>
              <span>|</span>
              <a href="?page={{ posts.paginator.num_pages }}" class="custom-anchor">last &raquo;</a>
            {% endif %}
          </span>
        </div>
      </div>
    </div>
  </section>
{% endblock %}