{% extends "base.html" %}
{% load gravatar %}
{% load disqus_tags %}
{% set_disqus_title post.title %}
{% block page_title %}{{ post.title }}{% endblock %}
{% block content %}
  <section class="post-section-background">
    <article class="container">
      <div class="col-md-offset-2 col-md-8 post-background">
        <figure class="post-header">
          <img src="/media/{{ post.image }}" class="post-header-image img-responsive between-phone-tab-hidden">
          <div class="post-header-title">
            <h4><span style="color: red;">{{ post.tag }}</span></h4>
            <h1>{{ post.title }}</h1>
            {% if post.author.profile.profile_pic %}
              <img src="/media/{{ post.author.profile.profile_pic }}" class="news-profile-image img-circle">
            {% else %}
              <img src="{% gravatar_url post.author.email %}" class="news-profile-image img-circle">
            {% endif %}
            <span class="mina-text">BY {{ post.author.first_name }} | {{ post.published_date }}</span>
          </div>
        </figure>
        <div class="post-body">
          <a href="{% url 'news' %}" class="custom-anchor" id="back-button"><i class="fa fa-caret-left" aria-hidden="true"></i> Back to News</a>
          <!-- Ensures only the original author can edit the post -->
          {% if user == post.author %}
            <a href="{% url 'edit-post' post.slug %}" class="btn btn-info" id="edit-button"><i class="fa fa-pencil" aria-hidden="true"></i> Edit Post</a>
          {% endif %}
          <p>{{ post.content | linebreaks }}</p>
          <div class="disqus-comments">{% disqus_show_comments %}</div>
        </div>
      </div>
    </article>
  </section>
{% endblock %}